
.login{
	margin-top: -18%;
}
#Titlu_inregistrare{

	text-align: center;
	font-size: 40px;
}

#Login_formular{
	text-align: center;
	vertical-align: middle;
	margin-top: 18%;
	margin-left: 25%;
	
}
#user{
	width: 250px;

}
#pwd{
	width: 250px;
}
#tine_ma_minte{
	margin-right: 50%;
}
#logare{
	margin-top: 10%;
	margin-right: 38%;
	
}
#logare_buton{
	width: 170px;
}