#Titlu_inregistrare{
	text-align: center;
	font-size: 40px;
}
#Inregistrare_formular{
	margin-right: 8%; 
	margin-top: 5%;
}
#inregistrare{
    margin-left: 30%;

}
#inregistrare_buton{
	width: 170px;
}